target/test-classes/football-system-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="post-team-flow">
        <http:listener config-ref="football-system-api-httpListenerConfig" path="/test/team" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="1.Set MIME type of payload &#10;2.Prepare mongo query doc" metadata:id="17cb8660-d877-43bd-83ea-80ad12d95bbc">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="teamQueryDoc"><![CDATA[%dw 1.0
%output application/json
---
{
	"_id":lower payload.name
}]]></dw:set-variable>
        </dw:transform-message>
        <enricher target="#[flowVars.existingTeam]" doc:name="Message Enricher">
            <mongo:find-one-document config-ref="Blacksky" collection="TEAMS" query-ref="#[flowVars.teamQueryDoc]" failOnNotFound="false" doc:name="Check if team exists"/>
        </enricher>
        <choice doc:name="Choice">
            <when expression="#[flowVars.existingTeam == null]">
                <dw:transform-message doc:name="Map all payload fields" metadata:id="cc984747-c324-4f0c-a570-bdfaad6768ea">
                    <dw:input-payload mimeType="application/json"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"_id": lower payload.name default "",
	name:  lower payload.name default "",
	country: lower payload.country default "",
	manager: lower payload.manager default "",
	stadium: lower payload.stadium default "",
	established: payload.established default null,
	leaguePosition: payload.leaguePosition default null
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Map supplied payload fields." metadata:id="1ad1bf33-0838-437e-9aff-f6ac2a3c57dc">
                    <dw:input-payload mimeType="application/json"/>
                    <dw:input-variable mimeType="application/json" variableName="existingTeam"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"_id": lower payload.name,
	name: (lower payload.name 
			when payload.name != null 
				otherwise (flowVars.existingTeam.name)),
	country: (lower payload.country 
			when payload.country != null
				otherwise (flowVars.existingTeam.country)),
	manager: (lower payload.manager 
			when payload.manager != null 
				otherwise (flowVars.existingTeam.manager)),
	stadium: (lower payload.stadium 
			when payload.stadium != null 
				otherwise (flowVars.existingTeam.stadium)),
	established: (payload.established 
			when payload.established != null 
				otherwise (flowVars.existingTeam.established)),
	leaguePosition: (payload.leaguePosition 
			when payload.leaguePosition != null 
				otherwise (flowVars.existingTeam.leaguePosition))
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <mongo:save-document config-ref="Blacksky" collection="TEAMS" doc:name="Save/Upsert Team"/>
    </flow>
    
</mule>
